<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags%}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lala</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/homee.css" rel="stylesheet">
    <style>
    .overlay{
        background-image:url('https://images4.alphacoders.com/232/thumb-1920-232854.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .bg-light {
    background-color: transparent !important;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}

    </style>
   
    
  </head>

  <body>

    <div class="overlay"></div>
   

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">LalaHelp</h1>
              <p class="mb-5">Buradan sual sorusa bilersiniz
                <strong></strong></p>
              <div class="input-group input-group-newsletter">
                  <form method="POST">
                        {% csrf_token %}                      
     
     <div id="div_id_ad" class="form-group"> <label for="id_ad" class="control-label  requiredField">
                     Ad<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_ad" maxlength="200" name="ad" type="text"> </div> </div> <div id="div_id_soyad" class="form-group"> <label for="id_soyad" class="control-label  requiredField">
                     Soyad<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_soyad" maxlength="200" name="soyad" type="text"> </div> </div> <div id="div_id_sual" class="form-group"> <label for="id_sual" class="control-label  requiredField">
                     Sual<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_sual" maxlength="600" name="sual" type="text"> </div> </div>
     
                      <button class="btn btn-secondary" type="submit">Soruş</button>
                      </form>
                <div class="input-group-append">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-user"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
         <a href="{% url 'blog:index' %}">
            <i class="fa fa-pencil"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/coming-soon.min.js"></script>

  </body>
  

</html>
