<!DOCTYPE html>
<html lang="en">
{% load static%}
{% load crispy_forms_tags %}
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    LalaHelp
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <style>
.panel-header{
    background-image: url('https://cdn.dribbble.com/users/542624/screenshots/2799134/firewatch.png');

}
.panel-header-sm {
  height: 500px;
}

  </style>

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
              LH
            </a>
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
             Admin
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li>
                <a href="{% url 'blog:dashboard'%}">
                  <i class="fa fa-window-maximize"></i>
                  <p>Idare Paneli</p>
                </a>
              </li>
              <li>
                <a href="{% url 'blog:create'%}">
                  <i class="fa fa-edit"></i>
                  <p>Meqaleler</p>
                </a>
              </li>
              <li >
                <a href="{% url 'elanlar:elanadmin' %}">
                  <i class="fa fa-tasks"></i>
                  <p>Elanlar</p>
                </a>
              </li>
              <li>
                <a href="./notifications.html">
                  <i class="fa fa-bell"></i>
                  <p>Bildirisler</p>
                </a>
              </li>
              <li>
                <a href="./user.html">
                  <i class="fa fa-user"></i>
                  <p>User Profile</p>
                </a>
              </li>
             
            </ul>
          </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Maps</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
               <!--SEARCH BAR -->
            <form role="search" method="GET" action="">
              <div class="form-group row">
                <input type="text" class="form-control col-sm-9"name="q" placeholder="Məqalə Axtar">
                <button class="btn btn-primary col-sm-3"type="submit" class="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:index'%}">
                  <i class="fa fa-globe"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Sayta Bax</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
             
              </div>
              <div class="card-body ">
                <form method="POST" enctype="multipart/form-data">
                  {%csrf_token%}
                  

<div id="div_id_title" class="form-group"> <label for="id_title" class="control-label  requiredField">
      Başlıq<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_title" maxlength="120" name="title" type="text"> </div> </div> <div id="div_id_category" class="form-group"> <label for="id_category" class="control-label ">
      Kateqoriya
  </label> <div class="controls "> <input class="textinput textInput form-control" id="id_category" maxlength="100" name="category" type="text"> </div> </div> <div id="div_id_description" class="form-group"> <label for="id_description" class="control-label  requiredField">
      Məqalə<span class="asteriskField">*</span> </label> <div class="controls "> <textarea class="textarea form-control" cols="40" id="id_description" name="description" rows="10"></textarea> </div> </div> <div id="div_id_tag" class="form-group"> <label for="id_tag" class="control-label  requiredField">
        Tag<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_tag" maxlength="120" name="tag" type="text"> </div> </div><div id="div_id_source" class="form-group"> <label for="id_source" class="control-label ">
      Önəmli Hissə (Məsələn Yunus Əmrədən bir şeir)
  </label> <div class="controls "> <input class="textinput textInput form-control" id="id_source" maxlength="300" name="source" type="text"> </div> </div> <div id="div_id_person" class="form-group"> <label for="id_person" class="control-label ">
      Şəxs (Önəmli Hissəni deyən)
  </label> <div class="controls "> <input class="textinput textInput form-control" id="id_person" maxlength="50" name="person" type="text"> </div> </div> <div id="div_id_image" class="form-group"> <button for="id_image" class="btn btn-primary ">
      Şəkil
  </button> <div class="controls "> <input class="clearablefileinput" id="id_image" name="image" type="file"> </div> </div>




<input type="submit" class="btn btn-primary">
      </form>
              </div>
            </div>
            <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header ">
                       Admin
                      </div>
                      <div class="card-body ">
                            <div class="container">
                                    <h2>Meqaleler</h2>
                                    <p>Burda Redakte Etmek olar, ve Meqaleleri silmek olar</p>            
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Basliq</th>
                                          
                                          
                                        </tr>
                                      </thead>
                                      <tbody>
                                            {% for post in posts %}
                                        <tr>
                                          <td>{{post.title}}</td>
                                          <td> <a href="{% url 'blog:update' post.id %}">
                                                <i class="fa fa-edit"></i>
                                               
                                              </a> </td>
                                              <td>
                                                    <a href="{% url 'blog:delete' post.id %}">
                                                            <i class="fa fa-trash"></i>
            
                                              </td>
                                          
                                        </tr>
                                        
                                               
                                        
                                        {% endfor %}
                                       
                                       
                                      </tbody>
                                    </table>
                                  </div>
                      </div>
                    </div>
          </div>

          <!-- Pagination -->
          {% if posts.has_other_pages %}
          <ul class="pagination">
            {% if posts.has_previous %}
              <li><a class="btn btn-primary" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled  btn btn-primary"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
                <li class="active btn btn-primary"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a class="btn btn-primary "href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li><a class="btn btn-primary" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled btn btn-primary"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
          

        </div>
      </div>
      
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright">
            &copy;LalaHelp 
            <script>
              document.write(new Date().getFullYear())
            </script>
            by
            <a href="#" target="_blank">Rashid Maharramli</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
 
  <!--  Notifications Plugin    -->

  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/js/now-ui-dashboard.min.js" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
 
 
</body>

</html>